STATES
0    Idle
1    Running

STATES_COLOR
0    {117,195,255}
1    {0,0,255}
2    {255,255,255}
3    {255,0,0}
4    {255,0,174}
5    {179,0,0}
6    {0,255,0}
7    {255,255,0}
8    {235,0,0}
9    {0,162,0}
10    {255,0,255}
11    {100,100,177}
12    {172,174,41}
13    {255,144,26}
14    {2,255,177}
15    {192,224,0}
16    {255,0,255}

DEFAULT_OPTIONS

LEVEL               THREAD
UNITS               NANOSEC
LOOK_BACK           100
SPEED               1
FLAG_ICONS          ENABLED

DEFAULT_SEMANTIC

THREAD_FUNC         Last Evt Val

# 3 lineas que dan problemas al parsear
DEFAULT_FILTER
TYPE_FUNC       =       1 
COMM_LINES      DISABLED


EVENT_TYPE
6 0 Undefined
6 1 Sid
6 2 ParentSid
6 3 ParRegion
6 4 SchedThread
6 5 SchedWork
6 6 SchedWake
6 7 Count
